a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var{
    padding: 0px;
    margin: 0px;
}
/**{*/
    /*padding: 0px;*/
    /*margin: 0px;*/
/*}*/
/*s上面两种是等价的  把网页默认的所有标签边距先清零，但是下面一种效率很低，推荐使用第一种*/
/*使用外部字体*/
@font-face {
    font-family:;
    src: url("/source/fonts/BebasNeue-webfont.ttf");
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
body{
    background: url("../image/images/pattern.gif");
    font-family: "BebasNeue-webfont.ttf";
}
#header{
    background-color: red;
    height:3px;
}
#nav{
   text-align: center;
    /*margin: 0px auto;*/
}
#nav ul{
   display: inline-block;
}
#nav ul li{
    float: left;
}
#nav ul li a{
    color: white;
    margin-right: 20px;
    width: 200px;
    font-size: 40px;
    text-align: center;
}
#nav ul li a:hover{
    color: black;
    background-color: white;
}
#nav ul li a.selected{
    float: left;
    color: black;
    background-color: white;

}
#list{
    background-color: white;
    text-align: center;
}
#list .dom{
    width: 382px;
    display: inline-block;
    margin: 20px;
}
#list .dom p{
    color: #999;
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 5px;
}
#list .dom a{
    background-color: #c03928;
    color: white;
    display: inline-block;
    width: 170px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}
#list .dom a:hover{
    background-color: rgb(11,17,15);
}